<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EMA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchEventsServlet</display-name>
    <servlet-name>SearchEventsServlet</servlet-name>
    <servlet-class>servlets.SearchEventsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEventsServlet</servlet-name>
    <url-pattern>/SearchEventsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventServlet</display-name>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>servlets.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/EventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageEventServlet</display-name>
    <servlet-name>ManageEventServlet</servlet-name>
    <servlet-class>servlets.ManageEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageEventServlet</servlet-name>
    <url-pattern>/ManageEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageEventTypeServlet</display-name>
    <servlet-name>ManageEventTypeServlet</servlet-name>
    <servlet-class>servlets.ManageEventTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageEventTypeServlet</servlet-name>
    <url-pattern>/ManageEventTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagePlaceServlet</display-name>
    <servlet-name>ManagePlaceServlet</servlet-name>
    <servlet-class>servlets.ManagePlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagePlaceServlet</servlet-name>
    <url-pattern>/ManagePlaceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageAdminServlet</display-name>
    <servlet-name>ManageAdminServlet</servlet-name>
    <servlet-class>servlets.ManageAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAdminServlet</servlet-name>
    <url-pattern>/ManageAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>